name: SonarCloud
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit
          allowed-endpoints:
            analysis-sensorcache-eu-central-1-prod.s3.amazonaws.com:443
            api.github.com:443
            api.nuget.org:443
            api.sonarcloud.io:443
            azure.archive.ubuntu.com:80
            binaries.sonarsource.com:443
            cli.codecov.io:443
            esm.ubuntu.com:443
            github.com:443
            ingest.codecov.io:443
            keybase.io:443
            motd.ubuntu.com:443
            o26192.ingest.us.sentry.io:443
            packages.microsoft.com:443
            scanner.sonarcloud.io:443
            sonarcloud.io:443
            storage.googleapis.com:443

      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Generate compilation database
        run: cmake -B build -DCMAKE_BUILD_TYPE=Coverage -DCMAKE_CXX_COMPILER=clang++

      - name: Generate coverage report
        run: cmake --build build --target coverage -j $(nproc)

      - name: Run sonar-scanner
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        with:
          args: >
            --define sonar.cfamily.compile-commands=build/compile_commands.json
            --define sonar.coverageReportPaths=build/coverage/coverage.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/coverage/coverage.lcov
